<a href="https://colab.research.google.com/github/nityaj4in/Python_fall_Sem/blob/main/pYTHOn_repo_fall_sem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Python prog to check whether the written number is palindrome or not 
number = int(input("Enter any number "))
reverse = 0
o = number

while number>0:
    d = number%10
    reverse = reverse*10+d
    number = number//10
    
if(o==reverse):
 print('number is palindrome')
else:
 print('number is not palindrome')

Enter any number 787
number is palindrome

In [ ]:
#Python prog to find maximum number in a list
def max_num_in_list( list ):
    max = list[ 0 ]
    for a in list:
        if a > max:
            max = a
    return max
print(max_num_in_list([4,10,-5,22]))

22

In [ ]:
#Python program to find the second largest number in a list
list_val = [20, 30, 40, 25, 10]  
list_val.sort()  
print("The second largest element of the list is:", list_val[-2])

The second largest element of the list is: 30

In [ ]:
a =[]
n = int(input('Enter number of elements'))
for i in range(1,n+1):
  b = int(input('Enter a element'))
  a.append(b)
even=[]
odd=[]
for j in a:
  if(j%2==0):
   even.append(j)
  else:
    odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements5
Enter a element6
Enter a element56
Enter a element56
Enter a element3
Enter a element12
The even list [6, 56, 56, 12]
The odd list [3]

In [ ]:
#Python program to merge two lists and sort it
a = []
c = []
n1= int(input('Enter number of elements: '))
for i in range(1,n1+1):
  b = int(input('Enter a element '))
  a.append(b)
n2 = int(input('Enter number of elements: '))
for i in range(1,n2+1):
    d = int(input('Enter a element '))
    c.append(d)
new = a + c
new.sort()
print('Sorted list is: ',new)

Enter number of elements: 3
Enter a element 56
Enter a element 67
Enter a element -21
Enter number of elements: 4
Enter a element 90
Enter a element 100
Enter a element 899
Enter a element -3345
Sorted list is:  [-3345, -21, 56, 67, 90, 100, 899]

In [ ]:
#Python program to sort the list according to the second element in sublist
a = [['A',34],['B',21],['c',26]]
for i in range(0,len(a)):
  for j in range(0,len(a)-i-1):
    if(a[j][1]>a[j+1][1]):
      temp = a[j]
      a[j]= a[j+1]
      a[j+1]=temp

print(a)

[['B', 21], ['c', 26], ['A', 34]]

In [ ]:
#Python prog to find the second largest number in a list using bubble sort
a =[]
n = int(input('Enter number of elements'))
for i in range(1,n+1):
  b = int(input('Enter a element'))
  a.append(b)
for i in range(0,len(a)):
  for j in range(0,len(a)-i-1):
    if(a[j]>a[j+1]):
     temp = a[j]
     a[j]= a[j+1]
     a[j+1]=temp
print('Second largest number is: ',a[n-2])

Enter number of elements4
Enter a element23
Enter a element34
Enter a element67
Enter a element0
Second largest number is:  34

In [ ]:
#Python prog to sort a list according to the length of the elements
a =[]
n = int(input('Enter number of elements:'))
for i in range(1,n+1):
  b = input("Enter elements")
  a.append(b)
a.sort(key=len)
print(a)

Enter number of elements:4
Enter elementsMy
Enter elementsname
Enter elementsis
Enter elementsnitya
['My', 'is', 'name ', 'nitya']

In [ ]:
#Python prog to find the union of two lists
l1=[]
num1=int(input('Enter size of list 1:'))
for n in range(num1):
  numbers1=int(input('Enter any number:'))
  l1.append(numbers1)
l2=[]
num2=int(input('Input size of list 2'))
for n in range(num2):
  numbers2=int(input('Enter any number:'))
  l2.append(numbers2)
union = list(set().union(l1,l2))
print('The Union of two lists is:',union)

Enter size of list 1:4
Enter any number:20
Enter any number:40
Enter any number:30
Enter any number:60
Input size of list 24
Enter any number:10
Enter any number:20
Enter any number:50
Enter any number:40
The Union of two lists is: [40, 10, 50, 20, 60, 30]

In [ ]:
#Python prog to find the intersection of two lists

def intersection(a,b):
 return list(set(a)&set(b))

def main():
  alist=[]
  blist=[]
  n1=int(input('Enter number of elements for list1: '))
  n2 = int(input('Enter numbber of elements for list2: '))
  print("For List1: ")
  for x in range(0,n1):
   element=int(input("Enter elements"+str(x+1)+":"))
   alist.append(element)

  print("For List2: ")
  for x in range(0,n2):
   element=int(input("Enter elements"+str(x+1)+":"))
   blist.append(element)
  print("The intersection is:")
  print(intersection(alist,blist))
main()

Enter number of elements for list1: 2
Enter numbber of elements for list2: 3
For List1:
Enter elements1:-12
Enter elements2:23
For List2:
Enter elements1:90
Enter elements2:23
Enter elements3:-12
The intersection is:
[-12, 23]

In [ ]:
#Python prog to print all odd indexed elements of a list

arr = []
print("Enter 10 numbers: ")
for i in range(10):
  arr.insert(i,int(input()))

print("\nNumbers at Odd Positions: ")
for i in range(10):
  if i%2!=0:
   print(arr[i])

Enter 10 numbers:
1
2
3
4
5
6
7
8
9
10

Numbers at Odd Positions:
2
4
6
8
10

In [ ]:
#Python prog to find frequency of each digit in a given integer
num = int(input('Enter any number'))
print('Digit\tFrequency')
for i in range(0,10):
 c = 0;
 temp = num;
 while temp>0:
  d = temp%10
  if d ==i:
    c+=1
  temp = temp//10;
 if c>0:
    print(i,"\t",c)

Enter any number454674352654
Digit	Frequency
2 	 1
3 	 1
4 	 4
5 	 3
6 	 2
7 	 1

In [ ]:
print("hello world")

In [ ]:
#Python prog to find all factors of a number
num=int(input('Enter a number'))
for i in range(1,num+1):
 if (num%i==0):
    print(i)

Enter a number786
1
2
3
6
131
262
393
786

In [ ]:
#Python prog to print all prime  nos b/w 1-n
n =int(input('Enter any number'))
c=0
for i in range(1,n+1):
    if(n%i==0):
        c+=1
if c==2:
 print('number is prime')
else:
 print('number is not prime')

Enter any number67
number is prime

In [ ]:
#Python prog to print fibonacci
n = int(input('How many terms?'))

n1,n2=0,1
count=0

if n<=0:
    print('Please enter a positive integer')
elif n ==1:
    print(n1)
else:
    print('Fibonacci sequence')
    while(count<n):
        print(n1)
        nth = n1+n2
        n1=n2
        n2=nth
        count+=1

How many terms?8
Fibonacci sequence
0
1
1
2
3
5
8
13

In [ ]:
t = ("w",3,'r',"e","s","o","u","r","c","e")
print(t)
i = t[3]
print("4th element from tuple: ",i)
j=t[-4]
print("4th element from the last of the tuple: ",j)

('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')
4th element from tuple:  e
4th element from the last of the tuple:  u

In [ ]:
tuplex = 2,4,5,6,2,3,4,4,7
print(tuplex)
count= tuplex.count(4)
print(count)

(2, 4, 5, 6, 2, 3, 4, 4, 7)
3

In [ ]:
tuplex = ("w",3,'r',"e","s","o","u","r","c","e")
print("r" in tuplex)
print(5 in tuplex)

True
False

In [ ]:
I = [(1,2),(3,4),(8,9)]
print(list(zip(*I)))

[(1, 3, 8), (2, 4, 9)]

In [ ]:
I = [(10,20,40),(40,50,60),(70,80,90)]
print([t[:-1] + (100,)for t in I ])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
L = [(),(),('a'),('a','b'),('a','b','c'),('d')]
L = [t for t in L if t]
print(L)

['a', ('a', 'b'), ('a', 'b', 'c'), 'd']

In [ ]:
l = [("x",1),("x",2),("x",3),("y",1),("y",2),("z",1)]
d = {}
for a,b in l:
  d.setdefault(a,[]).append(b)
print(d)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

In [ ]:
from heapq import nlargest
my_dict = {'a':500,'b':5874,'c':560,'d':400,'e':5874,'f':20}
three_largest = nlargest(3,my_dict,key=my_dict.get)
print(three_largest)

['b', 'e', 'c']

In [6]:
#Python function that prints out the first n rows of pascals triangle
def pascal_triangle(n):
   trow = [1]
   y = [0]
   for x in range(max(n,0)):
      print(trow)
      trow=[l+r for l,r in zip(trow+y, y+trow)]
   return n>=1
pascal_triangle(6)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

True

In [8]:
#Python list with square of values from 1-30
def printValues():
       l = list()
       for i in range(1,21):
          l.append(i**2)
       print(l)

printValues()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [9]:
#Python program to detect the number of local variables in a function
def abc():
  x = 1
  y = 2
  str1 = "w3resource"
  print("Python Excercises")


print(abc.__code__.co_nlocals)

3

In [10]:
#Python program that invoke a function after specific milliseconds
from time import sleep 
import math
def delay(fn, ms, *args):
  sleep(ms/1000)
  return fn(*args)
print("Square root after specifuc milliseconds: ")
print(delay(lambda x: math.sqrt(x), 100,16))
print(delay(lambda x: math.sqrt(x), 1000,100))
print(delay(lambda x: math.sqrt(x), 2000,25100))

Square root after specifuc milliseconds:
4.0
10.0
158.42979517754858

In [11]:
#Python program to get the sum of non-negative integer
def sumDigits(n):
  if n ==0:
    return 0
  else:
    return n%10 + sumDigits(int(n/10))

print(sumDigits(345))
print(sumDigits(45))

12
9